body {
    font-family: "Trebuchet MS", "Lucide Sans Unicode", "Lucida Grande", "Lucida Sans";
    background-image: url("https://media.istockphoto.com/id/1218355494/vector/poker-table-background-in-green-color.jpg?s=612x612&w=0&k=20&c=qJ-IauRqbIhaeQ5CXZxwysghJUm1VE5wW0odCiFt4yg=");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight:bold;
}

h1 {
    color: #8971d0;
}

#message-el {
    font-style:italic;
}